!
service routing protocols model multi-agent
!
hostname {{ inventory_hostname }}
!
interface Loopback0
   ip address {{ loopback0_ip }}/32
!
{% for nbr in neighbors | default([]) %}
interface Ethernet{{ nbr.isn_eth }}
   description DCI - {{ nbr.dc | upper }} - {{ nbr.leaf_name | upper }}
   no switchport
   ip address {{ nbr.isn_local_ip }}/{{ nbr.prefix }}
!
{% endfor %}
{% if inter_isn_ip is defined and inter_isn_eth is defined %}
interface Ethernet{{ inter_isn_eth }}
   description ISN - INTER-SITE
   no switchport
   ip address {{ inter_isn_ip }}/{{ inter_isn_prefix }}
!
{% endif %}
ip routing
!
ip prefix-list LOOPBACK seq 10 permit {{ loopback0_ip }}/32
!
route-map LOOPBACK permit 10
   match ip address prefix-list LOOPBACK
!
router bgp {{ bgp_asn }}
   router-id {{ loopback0_ip }}
   maximum-paths 4 ecmp 4
{% for dc_name in neighbors | map(attribute='dc') | unique | list %}
{% set dc_neighbors = neighbors | selectattr('dc', 'equalto', dc_name) | list %}
{% set dc_asn = dc_neighbors[0].leaf_asn %}
   !
   {# Peer group EVPN vers border leafs DC #}
   neighbor {{ dc_name | upper }}-BL peer group
   neighbor {{ dc_name | upper }}-BL remote-as {{ dc_asn }}
   neighbor {{ dc_name | upper }}-BL next-hop-unchanged
   neighbor {{ dc_name | upper }}-BL update-source Loopback0
   neighbor {{ dc_name | upper }}-BL ebgp-multihop
   neighbor {{ dc_name | upper }}-BL send-community extended
   !
   {# Peer group underlay vers border leafs DC - IP physique /31 #}
   neighbor {{ dc_name | upper }}-BL-underlay peer group
   neighbor {{ dc_name | upper }}-BL-underlay remote-as {{ dc_asn }}
{% endfor %}
{% if inter_isn_ip is defined %}
   !
   {# Peer group overlay inter-ISN - loopback to loopback #}
   neighbor ISN-OVERLAY peer group
   neighbor ISN-OVERLAY remote-as {{ bgp_asn }}
   neighbor ISN-OVERLAY next-hop-unchanged
   neighbor ISN-OVERLAY update-source Loopback0
   neighbor ISN-OVERLAY ebgp-multihop 3
   neighbor ISN-OVERLAY send-community extended
   !
   {# Peer group underlay inter-ISN - next-hop-self pour resoudre les loopbacks distantes #}
   neighbor ISN-UNDERLAY peer group
   neighbor ISN-UNDERLAY remote-as {{ bgp_asn }}
   neighbor ISN-UNDERLAY next-hop-self
{% endif %}
{% for nbr in neighbors | default([]) %}
{% if nbr.leaf_loopback0 is defined %}
   neighbor {{ nbr.leaf_loopback0 }} peer group {{ nbr.dc | upper }}-BL
{% endif %}
   neighbor {{ nbr.leaf_ip }} peer group {{ nbr.dc | upper }}-BL-underlay
{% endfor %}
{% if inter_isn_ip is defined %}
{% for dev in hostvars.values() %}
{% if dev.inventory_hostname is defined and dev.inventory_hostname != inventory_hostname and dev.inter_isn_ip is defined %}
   {# Overlay inter-ISN sur loopback #}
   neighbor {{ dev.loopback0_ip }} peer group ISN-OVERLAY
   {# Underlay inter-ISN sur IP physique #}
   neighbor {{ dev.inter_isn_ip }} peer group ISN-UNDERLAY
{% endif %}
{% endfor %}
{% endif %}
   !
   redistribute connected route-map LOOPBACK
   !
   address-family evpn
      bgp next-hop-unchanged
{% for dc_name in neighbors | map(attribute='dc') | unique | list %}
      neighbor {{ dc_name | upper }}-BL activate
{% endfor %}
{% if inter_isn_ip is defined %}
      neighbor ISN-OVERLAY activate
{% endif %}
   !
   address-family ipv4
{% for dc_name in neighbors | map(attribute='dc') | unique | list %}
      no neighbor {{ dc_name | upper }}-BL activate
      neighbor {{ dc_name | upper }}-BL-underlay activate
{% endfor %}
{% if inter_isn_ip is defined %}
      no neighbor ISN-OVERLAY activate
      neighbor ISN-UNDERLAY activate
{% endif %}
!