{% set h = host_config[inventory_hostname] %}
vlan {{ mlag_vlan }}
   trunk group {{ trunk_group_name }}
!
interface Ethernet{{ mlag_peer_first_eth_int }}
   description MLAG - PEER LINK - {{ mlag_peer_name }}
   channel-group {{ mlag_channel_group }} mode active
!
interface Ethernet{{ mlag_peer_second_eth_int }}
   description MLAG - PEER LINK - {{ mlag_peer_name }}
   channel-group {{ mlag_channel_group }} mode active
!
interface Port-Channel{{ mlag_channel_group }}
   description MLAG - PEER LINK - {{ mlag_peer_name }}
   switchport mode trunk
   switchport trunk group {{ trunk_group_name }}
!
interface Vlan{{ mlag_vlan }}
   description MLAG PEER LINK - {{ mlag_peer_name }}
   ip address {{ h.mlag_ip }}/{{ mlag_netmask }}
!
mlag configuration
   domain-id MLAG{{ mlag_vlan }}
   local-interface Vlan{{ mlag_vlan }}
   peer-address {{ h.mlag_peer_ip }}
   peer-link Port-Channel{{ mlag_channel_group }}